@import "./transitions/auth-animations.scss";

// Customize
$text: #ffffff;
$link: #30a1ff;
$link-hover: #1b75ff;
$info: #fad896;
$background1: #0495fb;
$background2: #fff;
$radius: 6px;
$primary: #174b76;
$danger: #d60d0d;
$grey: #666666;
$light: #fff;

$body-family: "Nunito", "Verdana", "Arial", sans-serif;
$fullhd: 860px + (2 * 32px);
$widescreen: 860px + (2 * 32px);
$desktop: 860px + (2 * 32px);
$toast-border-radius: 0;

.custom-table .table,
.custom-table .table-wrapper {
	color: #ffffff;
	background-color: transparent;
	td,
	th,
	thead th,
	thead td {
		color: #ffffff;
		border: none;
	}
	thead th,
	thead td {
		font-size: 14px;
		line-height: 19px;
		white-space: nowrap;
		font-weight: 400;
	}

	td {
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
	}
}

h1.is-1 {
	font-weight: 500;
	font-size: 38px;
	color: #555555;
	line-height: 46px;
}

.box {
	padding: 28px 30px !important;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1) !important;
	border: 1px solid rgba(176, 176, 176, 0.5) !important;
}

.wb-all {
	word-break: break-all;
}

.test {
	border: 1px solid red !important;
}

.table-custom {
	.level {
		padding-bottom: 0 !important;
	}

	.table-footer th {
		padding-left: 30px;
		padding-right: 30px;
	}

	.table {
		border: 0 !important;

		td,
		th {
			border: 0;

			&:last-child {
				text-align: right;
			}
		}
	}
	.table-wrapper {
		margin-left: -30px;
		margin-right: -30px;
	}
}

.table-custom-m0 > * {
	margin-left: 0;
	margin-right: 0;
}

.faq-quill .ql-editor {
	min-height: 120px;
}

// Then import other variables
@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";
@import "./helpers.scss";

.input,
.taginput .taginput-container.is-focusable,
.textarea,
.select select {
	background-color: transparent;
	border-radius: 0;
	color: #363636;
	border: none;
	box-shadow: none;

	&:focus {
		box-shadow: none;
	}
}

.secondary-text {
	color: #aab9c5;
}

body {
	background-color: #164a75;
}

.is-fullheight {
	height: 100%;
}
.dialog.modal {
	.modal-card {
		color: #000000;
	}
}
.dialog.modal.is-active,
.modal.is-active {
	.modal-background {
		transition: all 0.3s;
		background: rgba(66, 118, 178, 0.5);
		backdrop-filter: blur(10px);
	}
}
.notices .toast {
	color: #fff;
	border: 1px solid #76ceff;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	&.is-danger,
	&.is-warning {
		border: 1px solid #ff3c3c;
		color: #fff;
		background-color: #174b76;
	}
	&.is-primary,
	&.is-success,
	&.is-dark {
		color: #fff;
		background: #174b76;
	}
}

.page {
	&__list {
		&_item {
			margin-bottom: 5px;
			padding-left: 40px;
			position: relative;

			&::before {
				content: attr(data-number);
				position: absolute;
				left: 0;
			}
		}
	}
}

.default-button {
	height: 40px;
	background: rgba(177, 236, 255, 0.05);
	border: none;
	border-radius: 10px;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	padding-left: 32px;
	padding-right: 32px;
	color: #b1ecff;
	cursor: pointer;
	transition: 0.3s;
	&:focus,
	&:active {
		outline: none;
	}
	&:hover {
		box-shadow: 0 0 17px -10px rgb(66, 118, 178);
	}
}

.custom-button {
	height: 80px;
	border-radius: 12px;
	border: 2px solid #ffc543;
	background: linear-gradient(#f9e9a0, #f9d481);

	&:hover:not([disabled]) {
		border: 2px solid #ffc543;
		opacity: 0.85;
	}
}
.s-modal {
	width: 860px;
	height: 560px;
	position: relative;
	z-index: 1000;
	background: #f9f9f6;
	border-radius: 12px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: #666666;
	padding: 50px 23px 50px 50px;

	&__scroll {
		padding-right: 23px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 4px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #c4c4c4;
			border-radius: 3px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}

	&__content {
		width: 100%;
		height: 100%;
	}
}
.notices .toast {
	padding: 1em 2.5em;
}
.auth-image {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 203px;
	}
}
